apiVersion: apps/v1
kind: Deployment
metadata:
  name: dummy-deployment
  namespace: default
  labels:
    app: dummy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dummy
  template:
    metadata:
      labels:
        app: dummy
    spec:
      containers:
      - name: busybox
        image: busybox:latest
        stdin: true
        tty: true
        command:
          - cat
