apiVersion: v1
kind: ServiceAccount
metadata:
  name: newrelic-metadata-injection-service-account
  namespace: default
  labels:
    app: newrelic-metadata-injection
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: newrelic-metadata-injection-cluster-role
  namespace: default
  labels:
    app: newrelic-metadata-injection
rules:
  - apiGroups: ["admissionregistration.k8s.io"]
    resources: ["mutatingwebhookconfigurations"]
    verbs: ["get", "patch"]
  - apiGroups: ["certificates.k8s.io"]
    resources: ["certificatesigningrequests"]
    verbs: ["create", "get", "delete"]
  - apiGroups: ["certificates.k8s.io"]
    resources: ["certificatesigningrequests/approval"]
    verbs: ["update"]
  - apiGroups: ["certificates.k8s.io"]
    resources: ["certificatesigningrequests/status"]
    verbs: ["update"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create", "get", "patch"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: newrelic-metadata-injection-cluster-role-binding
  namespace: default
  labels:
    app: newrelic-metadata-injection
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: newrelic-metadata-injection-cluster-role
subjects:
  - kind: ServiceAccount
    name: newrelic-metadata-injection-service-account
    namespace: default
---
apiVersion: batch/v1
kind: Job
metadata:
  name: newrelic-metadata-setup
  namespace: default
  labels:
    app: newrelic-metadata-setup
spec:
  template:
    metadata:
      namespace: default
    spec:
      serviceAccountName: newrelic-metadata-injection-service-account
      containers:
        - name: metadata-cert-setup
          # This is a minimal kubectl image based on Alpine Linux that sings certificates using the k8s extension api server
          image: quay.io/newrelic/k8s-metadata-injector-certs-dev
          command: ["./generate_certificate.sh"]
      imagePullSecrets:
        - name: nr-quay-secret
      restartPolicy: Never
  backoffLimit: 1
