name: Reusable Release chart
on:
  workflow_call:
    secrets:
      gh_token:
        description: github token
        required: true
      slack_channel:
        description: slack channel for notifications
        required: true
      slack_token:
        description: slack token for slack channel
        required: true

env:
  ORIGINAL_REPO_NAME: ${{ github.event.repository.full_name }}

jobs:
  #   Sometimes chart-releaser might fetch an outdated index.yaml from gh-pages, causing a WAW hazard on the repo
  #   This job checks the remote file is up to date with the local one on release
  validate-gh-pages-index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: gh-pages
      - name: Download remote index file and check equality
        run: |
          curl -vsSL https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/index.yaml > index.yaml.remote
          LOCAL="$(md5sum < index.yaml)"
          REMOTE="$(md5sum < index.yaml.remote)"
          echo "$LOCAL" = "$REMOTE"
          test "$LOCAL" = "$REMOTE"
  chart-release:
    runs-on: ubuntu-latest
    needs: [ validate-gh-pages-index ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Add newrelic repository
        run: helm repo add newrelic https://helm-charts.newrelic.com
      - name: Release workload charts
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_SKIP_EXISTING: true
          CR_TOKEN: ${{ secrets.gh_token }}

  notify-failure:
    if: ${{ always() && failure() }}
    needs: [validate-gh-pages-index, chart-release]
    runs-on: ubuntu-latest
    steps:
      - name: Notify failure via Slack
        uses: archive/github-actions-slack@cb6f1f6bc7bfe991ea956833f9515dac40da14d2 # v2.8.0
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.slack_token }}
          slack-channel: ${{ secrets.slack_channel }}
          slack-text: "âŒ `${{ env.ORIGINAL_REPO_NAME }}`: <${{ github.server_url }}/${{ env.ORIGINAL_REPO_NAME }}/actions/runs/${{ github.run_id }}|'Release chart' failed>."
