name: Release

on:
  release:
    types: [prereleased, released]

jobs:
  build:
    name: Build integration for
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [ linux ]
        goarch: [ amd64, arm64, arm ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - name: Build integration
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          make lint compile
      - name: Upload artifact for docker build step
        uses: actions/upload-artifact@v2
        with:
          retention-days: 1
          name: k8s-metadata-injection-${{ matrix.goos }}-${{ matrix.goarch }}
          path: bin/k8s-metadata-injection-${{ matrix.goos }}-${{ matrix.goarch }}

  release:
    name: Release docker & config
    needs: [ build ]
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE_NAME: newrelic/k8s-metadata-injection
      DOCKER_PLATFORMS: "linux/amd64,linux/arm64,linux/arm" # Must be consistent with the matrix from the job above
      S3_PATH: s3://nr-downloads-main/infrastructure_agent
    steps:
      - name: Generate docker image version from git tag
        run: |
          DOCKER_IMAGE_TAG=$(echo "${{ github.event.release.tag_name }}" | sed 's/^v//')
          echo "DOCKER_IMAGE_TAG=$DOCKER_IMAGE_TAG" >> $GITHUB_ENV

      - name: Validate git and docker tag format
        run: |
          echo "${{ github.event.release.tag_name }}" | grep -E '^v[0-9.]*[0-9]$'
          echo "$DOCKER_IMAGE_TAG" | grep -E '^[0-9.]*[0-9]$'

      - if: ${{ github.event.release.prerelease }}
        run: |
          echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}-pre" >> $GITHUB_ENV
          echo "S3_PATH=$S3_PATH/test" >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - name: Check consistency of deployment yaml
        run: |
          grep -e "image: ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG/-pre/}" deploy/newrelic-metadata-injection.yaml

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Download all artifacts from build job
        uses: actions/download-artifact@v2
        with:
          path: bin

      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.FSI_DOCKERHUB_USERNAME }}
          password: ${{ secrets.FSI_DOCKERHUB_TOKEN }}

      - name: Build and push docker image
        run: |
          docker buildx build --push --platform=$DOCKER_PLATFORMS \
            -t $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG \
            .
      - name: Push :latest image
        if: ${{ ! github.event.release.prerelease }}
        run: |
          docker buildx build --push --platform=$DOCKER_PLATFORMS \
            -t $DOCKER_IMAGE_NAME:latest \
            .

      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.COREINT_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.COREINT_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Upload versioned manifests to S3
        run: |
          make deploy/combined.yaml
          aws s3 cp deploy/combined.yaml $S3_PATH/integrations/kubernetes/k8s-metadata-injection-${DOCKER_IMAGE_TAG}.yaml
          aws s3 cp deploy/newrelic-metadata-injection.yaml $S3_PATH/integrations/kubernetes/k8s-metadata-injection-custom-certs-${DOCKER_IMAGE_TAG}.yaml
      - name: Upload latest manifests to S3
        if: ${{ ! github.event.release.prerelease }}
        run: |
          make deploy/combined.yaml
          aws s3 cp deploy/combined.yaml $S3_PATH/integrations/kubernetes/k8s-metadata-injection-latest.yaml
          aws s3 cp deploy/newrelic-metadata-injection.yaml $S3_PATH/integrations/kubernetes/k8s-metadata-injection-custom-certs-latest.yaml
